streamlit
tensorflow
numpy
pandas
matplotlib
Pillow
altair
# LangChain & RAG
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-chroma
langchain-groq
# Keras (Jika diperlukan oleh TensorFlow versi lama)
keras
pypdf